# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log

# PostgreSQL dump or data files
*.sql
*.dump
*.pgsql
*.psql
*.bak
# Environments
venv/
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]

media/
staticfiles/