{% extends "core/base.html" %}

{% block content %}
<h1>All Blogs</h1>
<div class="blog-list">
    {% for blog in blogs %}
    <div class="blog-item">
        <h2><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
        <p>{{ blog.subtitle }}</p>
        {% if blog.thumbnail %}
        <img src="{{ blog.thumbnail.url }}" alt="{{ blog.title }}" style="max-width:200px;">
        {% endif %}
        <p>Created at: {{ blog.created_at }}</p>
    </div>
    <hr>
    {% empty %}
    <p>No blogs available.</p>
    {% endfor %}
</div>
{% endblock %}
